.box1 {
    background-color: aqua;
    /* margin-top: 200px; */
    /* margin: 50px; */
    margin: 100px 50px 100px 50px;
    /* margin: 100px 50px; */
    padding: 100px;
    border: solid red;
    text-align: center;
    /* vertical-align: sdfs; */
    max-width: 50px;
}